<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="..\static\css\logout.css">
</head>
<body>
  <div class="main">
        <nav>
                <div class ="logo">
                    <img src="..\static\images\img.png">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login">Login</a></li>
                    </ul>
                </div>
        </nav>


       <div class="information">
            <div class="overlay"></div>
            <img src="..\static\images\myproject.jpg" class="eye">
       </div>

            <div class="content">
                    <h1>Logged Out sucessfull</h1>
                <p>Login for more details</p>
             </div>
  </div>

</body>
</html>